.popup__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    width: 358px;
    height: 33px;
    box-sizing: border-box;
    padding: 0;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
}

@media screen and (max-width: 560px) {
    .popup__text {
        width: 238px;
        height: 27px;
    }
}
