@keyframes close {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-100%);
    }
}

.header__list {
    display: flex;
    flex-direction: row;
    width: 60%;
}

@media screen and (max-width: 560px) {
    .header__list {
        flex-direction: column;
        width: 100%;
        align-items: center;
        padding: 40px 30px;
        margin: 0;
        box-sizing: border-box;
        border-bottom: 1px solid rgba(84, 84, 84, 0.7);
        order: -1;
        display: none;
        opacity: 0;
    }
}