.header__link {
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: right;
    margin: 0 0 0 24px;
    padding: 0;
    text-decoration: none;
    color: #fff;
    transition: opacity 0.2s ease-in;
}

.header__link:hover {
    opacity: 0.6;
}

@media screen and (max-width: 920px) {
    .header__link {
        margin-right: 30px;
    }
}

@media screen and (max-width: 560px) {
    .header__link {
        font-size: 14px;
        line-height: 17px;
    }
}