@keyframes open {
    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(0);
    }
}

.header__list_opened {
    display: flex;
    opacity: 1;
    animation: open 0.2s linear;
    transition: opacity 1s linear;
}