.profile__wrap {
    display: flex;
    gap: 30px;
}

@media screen and (max-width:560px) {
    .profile__wrap {
        flex-direction: column;
        gap: 26px;
        align-items: center;
    }
}
